.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    margin-right: 40%;

  }
  
  .searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .searchButton {
    padding: 8px 12px;
    background-color: #070707e5;
  color: white;
  border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  