.card {
    background: rgb(21, 6, 34);
    background: -moz-linear-gradient(-45deg, rgb(21, 6, 34) 0%, rgb(44, 16, 75) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(21, 6, 34) 0%, rgb(44, 16, 75) 100%);
    background: linear-gradient(135deg, rgb(21, 6, 34) 0%, rgb(44, 16, 75) 100%);
    color: rgb(247, 250, 247);
    border: 1px solid rgb(2, 0, 0);
    height: 570px;
    width: 250px;
    

}

/* background-image: url(../img/grafico2.jpg); */
.cards {
    display: flex;
    flex-wrap: wrap;
}


.imagen {
    width: 250px;
    height: 300px;

}

.fondo {
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 10px 20px;
    height: 647px;
}

.seach {
    text-align: center;
}

@media(max-width: 768px) {
    .cards {
        display: grid;
        grid-column: auto;
        grid-row: auto;
        text-align: right;
    }
}

.colorr {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(81, 9, 121, 1) 41%, rgba(69, 40, 141, 1) 75%, rgba(0, 212, 255, 1) 100%);
}

.barra {
    width: 300px;

    background-color: rgb(41, 40, 40);
}

.lodeatrasdelabarra {
    background-color: rgb(41, 40, 40);

    height: 100px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }