.landingPage {
    background-image: url('./poke.jpg');
    background-size: cover;
    background-position: top center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .button {
    padding: 10px 20px;
    background-color: #6c6d72;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #6e1414;
  }